<h4 class="title is-4">Search Flights</h4>
  <%= form_with(url: "/flights", method: "get") do |form| %> 
      <div class="field is-grouped">
        <div class="control">
          <div class="select">  
            <%= form.select :origin_airport, Airport.options_for_select, class: "select", prompt: "Departing From" %>
          </div>
        </div>
        <div class="control">
          <div class="select">
            <%= form.select:destination_airport, Airport.options_for_select, class: "select", prompt: "Arriving To" %><br>
          </div>
        </div>
        </div>
        <div class="field is-grouped">
          <div class="control">  
            <div class="select">
              <%= form.select :month, Flight.month_options, class: "select", prompt: "Month" %>
            </div>
          </div>
          <div class="control">
            <div class="select">  
              <%= form.select :day, Flight.day_options, class: "select", prompt: "Day" %>
            </div>
        </div>
        <div class="control">
          <div class="select">
            <%= form.select :year, Flight.year_options, class: "select", prompt: "Year" %>
          </div>
        </div>
        </div>
        <div class="field">  
          <div class="control">
            <div class="select">
              <%= form.select :passengers, [1, 2, 3, 4], class: "select", prompt: "Number of Passengers" %><br>
            </div>
          </div>
        </div>
      <div class="field">        
        <%= form.submit "Search Flights", class: "button is-info" %>
      </div>
  <% end %>
