<% if @search_results.empty? %>
  <p>There are no flights that match your criteria. Please search again.</p>
<% else %> 
  <%= form_with(url: "/bookings/new", method: "get") do |f| %>
    <% @search_results.each do |flight| %>
      <%= f.hidden_field(:passengers, value: params[:passengers]) %>
      <%= f.radio_button(:flight, flight.id) %>
      <%= f.label(:flight_info, flight.info) %><br>
      <%= f.submit "Next", class: "button is-info" %>
    <% end %>
  <% end %>    
<% end %>
