<h2 class="title">New Booking</h2>

<div class="box">
  <strong>Selected Flight: </strong><br>
  <p><%= @flight.departure_date %></p>
  <p><%= @flight.info %></p>
</div>

<%= form_with model: @booking, local: true do |f| %>
  <% params[:passengers].to_i.times do %>  
    <%= f.fields_for :passengers do |passengers_form| %>
      <div class="box"> 
        <strong>Passenger Info</strong>
        <%= passengers_form.text_field :name, class: "input", placeholder: "Name" %>
        <%= passengers_form.text_field :email, class: "input", placeholder: "Email" %>
      </div>
    <% end %>
  <% end %>
  <%= f.hidden_field(:flight_id, value: params[:flight]) %>
  <%= f.submit "Book Flight", class: "button is-info" %>
<% end %>