<h2 class="title">New Booking</h2>

<div class="box">
  <strong>Selected Flight: </strong><br>
  <p><%= @flight.departure_date %></p>
  <p><%= @flight.info %></p>
</div>

<%= form_with model: @booking, local: true do |f| %>
    <div class="box"> 
      <%= f.fields_for :passengers do |passengers_form| %>
        <strong>Passenger Info</strong>
          <div class="field">
            <%= passengers_form.text_field :name, class: "input", placeholder: "Name" %>
          </div>
          <div class="field">
            <%= passengers_form.text_field :email, class: "input", placeholder: "Email" %>
          </div>
      <% end %>
    </div>
  <%= f.hidden_field(:flight_id, value: params[:flight]) %>
  <%= f.submit "Book Flight", class: "button is-info" %>
<% end %>